# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "app".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
    ports:
      - 3000:3000
    depends_on:
      - backend
    # env_file:
    #   - ./backend/compose.env
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /root/frontend
          ignore:
            - ./frontend/node_modules
            - ./frontend/.next
        - action: rebuild
          path: ./frontend/package.json
          target: /root/frontend/package.json
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    ports:
      - 3001:3001
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - ./backend/compose.env
    develop:
      watch:
        - action: sync
          path: ./backend/src
          target: /root/backend/src
        - action: rebuild
          path: ./backend/package.json
          target: /root/backend/package.json

  db:
    image: postgres
    restart: always
    user: postgres
    secrets:
      - db-password
    # volumes:
    #   - db-data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=containerdb
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    expose:
      - 5432
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - 5432:5432

secrets:
  db-password:
    file: secrets/db-password.txt

  # app:
  #   build:
  #     context: .
  #     target: final
  # If your application exposes a port, uncomment the following lines and change
  # the port numbers as needed. The first number is the host port and the second
  # is the port inside the container.
  # ports:
  #   - 8080:8080

  # The commented out section below is an example of how to define a PostgreSQL
  # database that your application can use. `depends_on` tells Docker Compose to
  # start the database before your application. The `db-data` volume persists the
  # database data between container restarts. The `db-password` secret is used
  # to set the database password. You must create `db/password.txt` and add
  # a password of your choosing to it before running `docker compose up`.
  #     depends_on:
  #       db:
  #         condition: service_healthy
  #   db:
  #     image: postgres
  #     restart: always
  #     user: postgres
  #     secrets:
  #       - db-password
  #     volumes:
  #       - db-data:/var/lib/postgresql/data
  #     environment:
  #       - POSTGRES_DB=example
  #       - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
  #     expose:
  #       - 5432
  #     healthcheck:
  #       test: [ "CMD", "pg_isready" ]
  #       interval: 10s
  #       timeout: 5s
  #       retries: 5
  # volumes:
  #   db-data:
  # secrets:
  #   db-password:
  #     file: db/password.txt
